/*** Start button colors ***/
    .btn.btn-green {
        background-color: #2ECC71;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-green:hover {
        opacity: .8;
    }
    .btn.btn-green-sea {
        background-color: #16A085;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-green-sea:hover {
        opacity: .8;
    }
    .btn.btn-emerald {
        background-color: #2ECC71;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-emerald:hover {
        opacity: .8;
    }
    .btn.btn-nephritis {
        background-color: #27AE60;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-nephritis:hover {
        opacity: .8;
    }
    .btn.btn-peter-river {
        background-color: #3498DB;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-peter-river:hover {
        opacity: .8;
    }
    .btn.btn-belize-hole {
        background-color: #2980B9;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-belize-hole:hover {
        opacity: .8;
    }
    .btn.btn-amethyst {
        background-color: #9B59B6;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-amethyst:hover {
        opacity: .8;
    }
    .btn.btn-wisteria {
        background-color: #8E44AD;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-wisteria:hover {
        opacity: .8;
    }
    .btn.btn-wet-asphalt {
        background-color: #34495E;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-wet-asphalt:hover {
        opacity: .8;
    }
    .btn.btn-midnight-blue {
        background-color: #2C3E50;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-midnight-blue:hover {
        opacity: .8;
    }
    .btn.btn-sun-flower {
        background-color: #F1C40F;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-sun-flower:hover {
        opacity: .8;
    }
    .btn.btn-orange {
        background-color: #F39C12;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-orange:hover {
        opacity: .8;
    }
    .btn.btn-carrot {
        background-color: #E67E22;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-carrot:hover {
        opacity: .8;
    }
    .btn.btn-pumpkin {
        background-color: #D35400;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-pumpkin:hover {
        opacity: .8;
    }
    .btn.btn-alizarin {
        background-color: #E74C3C;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-alizarin:hover {
        opacity: .8;
    }
    .btn.btn-pomegranate {
        background-color: #C0392B;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-pomegranate:hover {
        opacity: .8;
    }
    .btn.btn-clouds {
        background-color: #ECF0F1;
        color: gray;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-pomegranate:hover {
        opacity: .8;
    }
    .btn.btn-silver {
        background-color: #BDC3C7;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-silver:hover {
        opacity: .8;
    }
    .btn.btn-concrete {
        background-color: #95A5A6;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-concrete:hover {
        opacity: .8;
    }
    .btn.btn-asbestos {
        background-color: #7F8C8D;
        color: #ffffff;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .btn.btn-asbestos:hover {
        opacity: .8;
    }
    .btn-primary {
        color: #fff;
        background-color: #0275d8;
        border-color: #0275d8;
    }
    /*** End button colors ***/
/* Labels */
.label-silver{background-color:#BDC3C7;color: #ffffff;}.label-silver[href]:hover,.label-silver[href]:focus{opacity: .8;}
.label-asbestos{background-color:#7F8C8D;color: #ffffff;}.label-asbestos[href]:hover,.label-asbestos[href]:focus{opacity: .8;}
.label-pumpkin{background-color:#D35400;color: #ffffff;}.label-pumpkin[href]:hover,.label-pumpkin[href]:focus{opacity: .8;}
.label-sub-flower{background-color:#F1C40F;color: #ffffff;}.label-sub-flower[href]:hover,.label-sub-flower[href]:focus{opacity: .8;}
.label-nephritis{background-color:#27AE60;color: #ffffff;}.label-nephritis[href]:hover,.label-nephritis[href]:focus{opacity: .8;}
.label-wet-asphalt{background-color:#34495E;color: #ffffff;}.label-wet-asphalt[href]:hover,.label-wet-asphalt[href]:focus{opacity: .8;}
/*Stylish radiobutton*/
#radioBtn .notActive{
    color: #ffffff;
    background-color: #BDC3C7;
}

.bd-callout+.bd-callout {
    margin-top: -.25rem;
}
.bd-callout-info{border-left-color:#5bc0de}
.bd-callout-info h4{color:#5bc0de}
.bd-callout-warning{border-left-color:#f0ad4e}
.bd-callout-warning h4{color:#f0ad4e}
.bd-callout-danger{border-left-color:#d9534f}
.bd-callout-danger h4{color:#d9534}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color:#5bc0de
}
.custom-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.custom-callout-emerald{
    border-left-color:#2ECC71
}
.custom-callout-nephritis{
    border-left-color:#27AE60
}
.custom-callout-belize-hole{
    border-left-color:#2980B9
}
.custom-callout-amethyst{
    border-left-color:#9B59B6
}
.custom-callout-wisteria{
    border-left-color:#8E44AD
}
.custom-callout-wet-asphalt{
    border-left-color:#34495E
}
.custom-callout-midnight-blue{
    border-left-color:#2C3E50
}
.custom-callout-sun-flower{
    border-left-color:#F1C40F
}
.custom-callout-pumpkin{
    border-left-color:#D35400
}
.custom-callout-pomegranate{
    border-left-color:#C0392B
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-x: hidden; 
    overflow-y: hidden;
    background: #EEF0F0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #343434;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #CBD4D7;
    height: 100%;
    overflow:auto;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
    width: 220px;
}

.sidebar-nav li:hover{
    border-left: solid 4px #06A77D;
    padding-left: 4px;
    background-color: #FFFFFF;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
}

.sidebar-nav li:active,
.sidebar-nav li:focus {
    border-left: solid 4px #06A77D;
    padding-left: 4px;
    background-color: #FFFFFF;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #343434; 
}

.sidebar-nav li a:hover {
    height: 100%;
}

.sidebar-nav > .sidebar-brand {
    height: 140px;
    margin: 20px 0px 20px 40px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #06A77D;
    background: none;
}

.sidebar-nav li a:hover .fa,
.sidebar-nav li a:active .fa,
.sidebar-nav li a:focus .fa {
    color: #06A77D;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
}

.sidebar-nav img {
    border-radius: 50%;
}

#hamburger-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 50px;
    min-height: 45px;
    position: fixed;
    background-color: #CBD4D7;
    z-index: 2;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 0px 0px 10px 0px; 
    -moz-border-radius: 0px 0px 10px 0px; 
    bottom-left-border-radius: 0px 0px 10px 0px;
    border-bottom-right-radius: 10px;
}

#hamburger-wrapper:hover {
    background-color: #484848;
}

#hamburger {
    font-size: .7em;
    text-align: center;
    white-space: nowrap;
    width: 60%;
    height: 60%;
    overflow: visible;
    z-index: 3;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    min-width: 50px;
}

.fa-bars {
    color: #fff;
    font-size: 3em;
}

.login-name{
    min-width: 220px;
    margin-bottom: 10px;
    text-align: center;
}

.login-name a {
    color: #343434;
    text-decoration: none;
    font-size: .9em;
}

.login-name a:hover {
    color: #06A77D;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
}

#footer-wrapper {
    min-width: 220px;
    height: 50px;
    position: absolute;
    bottom:0;
    left:0;
    background: #06A77D;
    overflow: hidden;
}

footer {
    color: #fff;
    font-size: .7em;
    text-align: center;
    white-space: nowrap;
    width: 60%;
    height: 50%;
    overflow: visible;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    min-width: 220px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    /* colors for header, sidebar and body*/
    .grid-header{
        background-color: #daeeff;
    }
    .grid-sidebar{
        background-color: #fae3c4;
    }
    .grid-body{
        background-color: #957bbe;
        border-radius: .25rem;
    }
/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track
{
    border: 1px solid black;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
    background-color: #000000;  
}
.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}