.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
html,
body {
  min-height: 100%;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Lato' sans-serif;
}
* ul {
  list-style-type: none;
}
#top-navbar ~ #body-container {
  padding-top: 63px;
  background: #ecf1f5;
}
.conter-wrapper {
  min-height: 600px;
  padding: 15px;
}
#body-container {
  position: relative;
  min-height: 100%;
  left: 0;
  padding-bottom: 50px;
  transition: all 0.2s ease-in-out;
}
.codeWrapper {
  background-color: #020111;
  color: #38F527;
}
div#footer-wrap {
  padding: 15px;
  font-size: 12px;
  line-height: 19px;
  background: #e2e6ea;
  color: #999;
  border-top: 1px solid #ced0d2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
div#footer-wrap span.pull-right {
  font-size: 18px;
}
div#footer-wrap span.pull-right a {
  color: inherit;
  opacity: 0.4;
}
div#footer-wrap span.pull-right a:hover {
  opacity: 0.9;
}
div#footer-wrap span.pull-right a:hover .fa-facebook-square {
  color: #5172F9;
}
div#footer-wrap span.pull-right a:hover .fa-twitter-square {
  color: #40CAE4;
}
@media (min-width: 768px) {
  #sidenav ~ #body-container {
    margin-left: 250px;
  }
}
@media (max-width: 767px) {
  #app-container.push-right #sidenav ~ #body-container {
    left: 250px;
  }
  #app-container.push-right #sidenav {
    left: 0;
  }
  #app-container.push-right #footer-wrap {
    left: 250px;
  }
}
.home-wrapper {
  margin: -15px;
}
.photo-container a {
  color: #737272;
  font-size: 13px;
}
.photo-container .dash-profile {
  width: 90px;
  border-color: #737272;
  padding: 2px;
}
.circles-text {
  position: absolute;
  top: -8px;
  left: 0px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  height: 110px;
  line-height: 110px;
}
.circles-text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  height: 110px;
  line-height: 110px;
}
#circles-1,
#circles-2,
#circles-3 {
  display: inline-block;
  margin-right: 20px;
}
.mtop {
  margin-top: 1.5%;
}
.inside-text {
  margin-top: -93px;
  font-size: 11px;
}
.circles {
  display: block;
}
.btn-centered {
  text-align: center;
}
.wellb {
  background: #FFFFFF;
}
.crisp {
  color: #d68f51;
  margin-left: 15px;
  margin-top: 15px;
}
.text {
  font-size: 30px;
}
@media (max-width: 992px) {
  .payment-detals-wrap {
    float: none !important;
  }
}
div.back {
  width: 100%;
  background: url(../img/login-bg.jpg);
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.errors {
  margin-top: 50px;
  margin-bottom: 20px;
}
.login-outer {
  padding-top: 8%;
  padding-bottom: 8%;
  height: 100%;
}
.login-outer a:hover {
  text-decoration: none;
}
.login-outer .login-wrap {
  border-radius: 10px;
  overflow: hidden;
  max-width: 450px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: table;
  min-height: 50px;
}
.login-outer .login-wrap .login-left,
.login-outer .login-wrap .login-right {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  position: relative;
}
.login-outer .login-wrap .login-left {
  background-color: #d68f51;
  color: #fff;
}
.login-outer .login-wrap .login-left .logo-lg {
  text-transform: uppercase;
  font-size: 32px;
  color: #fff;
  letter-spacing: -1px;
}
.login-outer .login-wrap .login-left .logo-lg i {
  color: #f9e38b;
}
.login-outer .login-wrap .login-left .logo-lg:hover,
.login-outer .login-wrap .login-left .logo-lg:active,
.login-outer .login-wrap .login-left .logo-lg:focus {
  text-decoration: none;
}
.login-outer .login-wrap .login-left .slogan {
  font-size: 18px;
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
}
.login-outer .login-wrap .login-right {
  background-color: #fff;
  color: #999;
}
.login-outer .login-wrap .login-right .heading {
  font-size: 21px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}
.login-outer .login-wrap .login-right .login-input-group input.form-control {
  background: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 48px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}
.login-outer .login-wrap .login-right .login-input-group .login-input-group-addon {
  position: absolute;
  width: 50px;
  text-align: center;
  left: 0;
  line-height: 48px;
}
.login-outer .login-wrap .login-right .login-input-group .login-input-group-addon i {
  line-height: 48px;
}
.login-outer .login-wrap .login-right .login-input-group:last-child input.form-control {
  border: none !important;
}
.login-outer .login-wrap .login-right .login-other {
  float: right;
  width: 60%;
  padding-right: 20px;
  margin-top: -35px;
}
.login-outer .login-wrap .login-right .login-other a {
  display: inline-block;
  padding: 3px;
}
.login-outer .login-wrap .login-right .rightFooter {
  position: absolute;
  bottom: 0;
  background-color: #222;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
.login-outer .login-wrap .login-right .rightFooter a {
  color: #666;
}
.login-outer .login-wrap .login-right .rightFooter a:hover {
  color: #999;
}
.login-outer .login-wrap .login-right .huge-heading {
  margin: 0;
  text-align: center;
  font-size: 82px;
  font-style: italic;
  color: #666;
}
@media (max-width: 992px) {
  .login-outer {
    height: auto;
  }
  .login-outer .login-wrap {
    display: block;
  }
  .login-outer .login-wrap .login-left,
  .login-outer .login-wrap .login-right {
    display: block;
    width: 100%;
  }
  .login-outer .login-wrap .login-left {
    padding: 40px 20px;
  }
  .login-outer .login-wrap .login-right {
    border-radius: 0 0 10px 10px;
    padding-top: 60px;
  }
  .login-outer .login-wrap .login-right .rightFooter {
    position: relative;
    margin-top: 60px;
    border-radius: 0 0 10px 10px;
  }
  .login-outer .login-wrap .login-right .btn {
    border-radius: 30px;
    margin-left: 20px;
    border: solid 2px #d68f51;
  }
}
@media (max-width: 440px) {
  .login-outer .login-wrap .login-right .btn {
    display: block;
    margin: 30px auto 0;
  }
  .login-outer .login-wrap .login-right .login-other {
    float: none;
    margin-top: 60px;
    text-align: center;
    width: auto;
    padding-left: 25px;
  }
  .login-outer .login-wrap .login-right .login-other a i {
    font-size: 18px;
  }
}
.img-circle {
  border: 2px solid white;
}
blockquote {
  font-size: 14.5px;
  border-left: 4px solid #d68f51;
}
blockquote.pull-right {
  border-right: 4px solid #80b1cb;
}
#sidenav {
  border-radius: 0;
  background-color: #2e2e2e;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
#sidenav a#brand-info {
  height: 63px;
  line-height: 33px;
  padding: 15px;
  display: inline-block;
  background-color: #2e2e2e;
  width: 100%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  float: none;
}
#sidenav a#brand-info:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
#sidenav a#brand-info img {
  max-width: 90%;
}
#sidenav .sidebar-section-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  bottom: 0;
  /*overflow: auto;*/
}
#sidenav .sidebar-section-wrap .section-content {
  color: #eee;
}
#sidenav .sidebar-top-nav {
  background-color: #3f3f3f;
  border: none;
  position: relative;
  top: 63px;
}
#sidenav .sidebar-top-nav li {
  border-radius: 0;
  margin: 0;
  display: table-cell;
  width: 1%;
  padding-top: 3px;
}
#sidenav .sidebar-top-nav li a {
  border-radius: 0;
  margin: 0;
  border: none;
  background-color: #3f3f3f;
  color: rgba(255, 255, 255, 0.8);
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
#sidenav .sidebar-top-nav li.active a,
#sidenav .sidebar-top-nav li:hover a {
  border-radius: 0;
  background-color: #2e2e2e;
  background-image: url("../img/bg-strips-light.png");
  background-repeat: repeat;
  color: #ffffff;
}
#sidenav .sidebar-nav {
  font-size: 14px;
}
#sidenav .sidebar-nav li a {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
#sidenav .sidebar-nav li a:hover,
#sidenav .sidebar-nav li a:active,
#sidenav .sidebar-nav li a:focus {
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
#sidenav .sidebar-nav li a > i {
  width: 20px;
}
#sidenav .sidebar-nav li.active a {
  background: rgba(0, 0, 0, 0.2);
}
#sidenav .sidebar-nav li.active a:after {
  top: 11px;
  right: 0;
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid rgba(0, 0, 0, 0);
  border-right: 10px solid #E9F0F5;
}
#sidenav .sidebar-nav li.active:after {
  content: '';
  top: 0;
  bottom: 0;
  background: #d68f51;
  width: 4px;
  position: absolute;
  left: 0;
}
#sidenav .sidebar-nav li.sidenav-dropdown {
  max-height: 41px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#sidenav .sidebar-nav li.sidenav-dropdown.show-subnav {
  max-height: 1000px;
  background-color: rgba(0, 0, 0, 0.2);
}
#sidenav .sidebar-nav li.sidenav-dropdown i {
  transition: all 0.5s ease-in-out;
  margin-top: 2px;
}
#sidenav .sidebar-nav li.sidenav-dropdown .sidenav-sub-menu li {
  font-size: 13px;
}
#sidenav .sidebar-nav li.sidenav-dropdown .sidenav-sub-menu li a {
  padding-left: 20px;
  margin-left: 20px;
}
#sidenav .sidebar-nav li.sidenav-dropdown .sidenav-sub-menu li:after {
  content: '';
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
}
#sidenav .section-heading {
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 13px;
}
.photo-container {
  margin-top: 5px;
}
.solution {
  float: left;
  color: #d68f51;
  font-size: 12px;
  margin-top: 25px;
}
.navbar-brand .fa {
  color: #d68f51;
}
@media (min-width: 767px) {
  .hidd {
    display: none;
  }
}
@media (max-width: 767px) {
  #sidenav {
    left: -250px;
  }
}
.onoffswitch {
  position: relative;
  width: 55px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 28px;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: all 0.2s ease-in-out;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  background-color: #5cb853;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  background-color: #ccc;
  color: #444;
  text-align: right;
}
.onoffswitch-switch {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 1px 0 0;
  background: #FFFFFF;
  border-radius: 26px;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 26px;
  transition: all 0.2s ease-in-out;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.tabs {
  border-bottom: 1px solid #E7E7E7;
}
.tabs li a {
  color: #6B6B6B;
}
.tabs li a:hover {
  border: 1px solid #E7E7E7;
  border-bottom-color: white;
  background: inherit;
}
.tabs li.active a,
.tabs li.active a:focus {
  border: 1px solid #E7E7E7;
  border-bottom-color: white;
  background: inherit;
  color: #393939;
}
.primary-tabs {
  border-bottom: 1px solid #d68f51;
}
.primary-tabs li {
  margin-left: 4px;
}
.primary-tabs li a {
  color: white;
  background: #d68f51;
}
.primary-tabs li a:hover {
  border: 1px solid #d68f51;
  border-bottom-color: white;
  background: inherit;
  color: #393939;
}
.primary-tabs li.active a,
.primary-tabs li.active a:focus {
  border: 1px solid #d68f51;
  border-bottom-color: white;
  background: inherit;
  color: #393939;
}
.icon-page p {
  margin-bottom: 23px;
  margin-top: 10px;
  font-size: 14px;
}
.icon-page p .fa {
  padding-right: 10px;
}
#bs-example-navbar-collapse-1 .nobadge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  background-color: #d68f51;
  border-radius: 10px;
  margin-left: -10px;
  margin-top: -6px;
}
.top-nav > li {
  border-left: solid 2px rgba(0, 0, 0, 0.1);
}
.top-nav > li > a {
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  min-width: 60px;
  text-align: center;
}
.top-nav > li > a .fa {
  font-size: 20px;
  position: relative;
  top: 2px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: inherit;
}
.admin-img {
  width: 28px;
  margin: -5px 0;
  border: 1px solid #737272 !important;
}
.right-admin ul {
  margin: 0;
}
.right-admin ul .admin-img {
  width: 32px;
}
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
}
.transition {
  transition: all 0.2s ease-in-out;
}
.transition-slow {
  transition: all 0.5s ease-in-out;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-dotted {
  border-top: dashed 1px #ddd;
  width: 100%;
  height: 1px;
}
.line {
  border-top: solid 1px #ddd;
  width: 100%;
  height: 1px;
}
.t-p {
  padding-top: 15px;
}
.padder {
  padding: 15px;
}
.no-t-p {
  padding-top: 0;
}
.no-b-p {
  padding-bottom: 0;
}
.line-h {
  height: 1px;
  background: #eee;
}
.line-h-ex {
  height: 1px;
  background: #eee;
  margin: 0 -15px;
}
.no-bg {
  background: none;
}
.no-m-t {
  margin-top: 0;
}
.no-m-b {
  margin-bottom: 0;
}
.m-t {
  margin-top: 15px;
}
.m-b {
  margin-bottom: 15px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.padder-h-xs {
  padding: 0 5px;
}
.table.no-border td,
.table.no-border th {
  border: none;
}
.table.color-swatches-table td {
  border: solid 2px #fff;
  background-color: #f4f4f4;
}
.table.color-swatches-table td a {
  display: block;
}
.green-base {
  color: #06c5ac;
}
.red-base {
  color: #da7f87;
}
.blue-base {
  color: #5cbac0;
}
.orange-base {
  color: #dc873b;
}
.stat {
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
}
.stat .icon-col {
  text-align: center;
  height: 100px;
  padding: 25px 0;
  color: #FFF;
}
.stat .text-col {
  position: relative;
  color: #999999;
  padding-left: 25px;
}
.stat .text-col .fa {
  position: absolute;
  right: -20px;
  bottom: -40px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 120px;
}
.stat .text-col h2 {
  font-weight: 300;
}
.growl.growl-default {
  color: #FFF;
  background: #d68f51;
}
.growl.growl-error {
  color: #FFF;
  background: #d57d6d;
}
.growl.growl-notice {
  color: #FFF;
  background: #80b1cb;
}
.growl.growl-warning {
  color: #FFF;
  background: #e8b769;
}
.ball-pulse div {
  background-color: #d68f51;
  height: 10px;
  width: 10px;
}
.line-scale div {
  background-color: #d68f51;
  height: 24px;
  width: 6px;
  border-radius: 20%;
}
.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  z-index: 33;
  text-align: center;
}
.loader-block span.loader-inner.line-scale {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  right: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
}
.page-title {
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding: 2px;
    color: #464646;
}